@import '../../../../vendor/filament/filament/resources/css/theme.css';

body {
    background-color: #0A0A0C !important;
}

.fi-layout,
.fi-main,
.fi-sidebar,
.fi-topbar {
    background-color: transparent !important;
}

.fi-sidebar {
    background-color: rgba(10, 10, 12, 0.7) !important;
    backdrop-filter: blur(10px);
}
.fi-topbar {
    background-color: rgba(10, 10, 12, 0.7) !important;
    backdrop-filter: blur(10px);
}

.fi-sidebar-item-label {
    background: linear-gradient(to right, #a855f7, #ec4899) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: 800 !important;
}

.fi-btn-color-primary, .fi-pagination-item-active {
    background: linear-gradient(to right, #a855f7, #ec4899) !important;
    border: none !important;
    color: white !important;
}
.fi-btn-color-primary:hover {
    box-shadow: 0 0 15px rgba(236, 72, 153, 0.5) !important;
}
